html {
	scroll-behavior: smooth;
}

body {
	background: #000000;
	font-family: "Nunito", sans-serif;
}

.blurb h2 {
	color: #ff6600;
	font-weight: 100;
	font-size: 2.5rem;
}

.blurb p {
	color: white;
	font-weight: 100;
	font-size: 1.125rem;
	line-height: 2;
}

.content {
	margin-top: 100px;
	margin-bottom: 100px;
}

#mainNavbar {
	font-size: 1.5rem;
	font-weight: 100;
}

#mainNavbar .nav-link {
	color: #000000;
	transition: color .8s ease, background-color 1s ease, border-bottom 1s ease;
}

#mainNavbar .nav-link:hover {
	color: #ff6600;
	background-color: white;
	border-bottom: 1px solid #ff6600;
}

#mainNavbar .navbar-brand {
	color: #ff6600;
	font-size: 2.5rem;
	transition: color .8s ease;
}

#mainNavbar .navbar-brand:hover {
	color: #000000;
	font-size: 2.5rem;
}

#headingGroup span {
	color: #ea1c2c;
}

#headingGroup h1 {
	font-weight: 100;
	font-size: 4rem;
}

.navbar.scrolled {
	background: white;
	transition: background 500ms;
}

@media (max-width: 1200px) {
	#headingGroup h1 {
		font-weight: 100;
		font-size: 3rem;
	}
	.blurb h2 {
		font-size: 2rem;
	}
}

div.col-md-6 img {
	opacity: .3;
	transition: opacity 2s ease;
}

div.col-md-6 img.modal-pix {
	opacity: 1;
}

div.col-md-6 img:hover {
	opacity: 1;
}

footer.container-fluid {
	color: #000000;
	background-color: white;
}
/*
footer.container-fluid.m-0.p3 h5.text-left {
    text-align: left;
}*/

section.container-fluid.px-0 div.card.text-center {
	border: none;
}

section.container-fluid.px-0 div.card.text-center div.card-header {
	background-color: #000000;
	color: white;
}

section.container-fluid.px-0 div.card.text-center div.card-footer {
	background-color: #000000;
	color: white;
}

section.container-fluid.px-0 div.card.text-center div.card-body {
	background-color: #000000;
	color: white;
}

section.container-fluid.px-0 div.row.align-items-center.content h1 {
	color: #ff6600;
}

section.container-fluid.px-0 div.row.align-items-center div.col-md-6 {
	color: white;
}

section#about div.row.content.my-0 h3,
p {
	color: white;
}

section#about div.row.content.my-0 p {
	color: white;
	font-weight: 400;
}

section#about div.row.content.my-0 p i {
	font-size: 30px;
	color: #ff6600;
}

section#about div.row.content.my-0 p i {
	font-size: 30px;
	color: #ff6600;
}

section#about div.row.content.my-0 div {
	color: white;
	font-weight: 100;
}

section#gallery div.row.align-items-center div.container div.row div.modal div.modal-dialog div.modal-content div.modal-header {
	border: none;
}

strong,
section#about div.row div.col-md-6 h3.about-title {
	color: #ff6600;
}

section.container-fluid.px-0 div.card.text-center div.card-body a.btn.btn-outline-light {
	transition: background-color .8s ease-in-out, color .8s ease;
}

section#gallery div.container div.row div.col-sm-12.col-md-6 button.btn {
	background-color: transparent;
	width: 100%;
}

section#gallery div.container div.row div.col-sm-12.col-md-6 button.btn img {
	width: 100%;
	border-radius: 5px;
	border: 1px solid #ff6600;
	box-shadow: 3px 4px #242220;
}

div.modal.fade div.modal-dialog div.modal-content div.modal-pix {
	opacity: 1;
}

section#gallery div.row h1.display-4 {
	color: #ff6600;
}
/*
.modal-content {
    width: 900px;
}*/

.modal-header,
.modal-footer {
	background-color: #ff6600;
	color: #000000;
}

div.modal-footer button.btn.close {
	background-color: #000000;
	border: 1px solid #ff6600;
	color: #000000;
}

div.modal-footer button.btn.close:hover {
	/*background-color: black;
    border: 1px solid #FF6600; 
    color: #FF6600;*/
}

section#contact div.container form {
	color: #ff6600;
	font-size: 1.5rem;
}

/*section#contact div.container form: {
    color: #FF6600;
    font-size: 1.5rem;
}*/

section#contact div.container form button.btn.send {
	background-color: #000000;
	color: #ff6600;
	border: 1px solid #ff6600;
	transition: width 3s ease;
	transition: background-color .5s ease-in-out;
}

section#contact div.container form button.btn.send:hover {
	background-color: #ff6600;
	color: #000000;
	border: 1px solid #000000;
}

section#contact div.container div.row div.col-sm-12 h3 {
	color: #FF6600;
}

section#contact div.container div.row div.col-sm-12 i {
	color: #FF6600;
	font-size: 1.5rem;
}

section#contact div.row h1.display-4 {
	color: #ff6600;
}

section#contact div.row div.col-md-6 h3.contact-title {
	color: #ff6600;
}

section#contact div.row div.col-md-6 div.row div.col-sm-4 p.mb-0 a i {
	color: #ff6600;
	font-size: 40px;
	opacity: .5;
	transition: opacity 2s ease, color 1s ease;
}

section#contact div.row div.col-md-6 div.row div.col-sm-4 p.mb-0 a {
	color: #ff6600;
	opacity: 1;
	transition: opacity 2s ease, color 1s ease;
}

section#contact div.row div.col-md-6 div.row div.col-sm-4 p.mb-0 a i:hover.fa-facebook-f {
	opacity: 1;
	color: #3b5998;
}

section#contact div.row div.col-md-6 div.row div.col-sm-4 p.mb-0 a i:hover.fa-twitter {
	opacity: 1;
	color: #00acee;
}

section#contact div.row div.col-md-6 div.row div.col-sm-4 p.mb-0 a i:hover.fa-instagram {
	opacity: 1;
	color: #cd486b;
}

section#contact div.row div.col-md-6 div.row div.col-sm-4 p.mb-0 a.fb:hover {
	color: #3b5998;
}

section#contact div.row div.col-md-6 div.row div.col-sm-4 p.mb-0 a.tt:hover {
	color: #00acee;
}

section#contact div.row div.col-md-6 div.row div.col-sm-4 p.mb-0 a.ig:hover {
	color: #cd486b;
}

button.btn.btn-light {
	border: #ff6600;
}

div.container div.col-sm-12 input.form-control#fname:focus {
	outline-color: #ff6600;
}

.parallax-window {
	min-height: 600px;
	background: transparent;
}

body nav#mainNavbar button.navbar-toggler.m-1 {
	background-color: #ff6600;
}

body nav#mainNavbar button.navbar-toggler.m-1 span.navbar-toggler-icon {
	color: black;
}

footer.container-fluid h6.text-right span#footer-span {
	display: none;
}

footer.container-fluid h6.text-right:hover span#footer-span {
	display: inline;
	color: #ff6600;
}

@media only screen and (max-width: 767px) {
	/* For mobile phones: */
	html {
		font-size: 10px;
	}

	nav#mainNavbar {
		background-color: white;
	}
}

@media only screen and (max-width: 1024px) {
	html {
		font-size: 12px;
	}
}
